@media (max-width: 1524px) {
    #slogan {

        margin-top: 6px;
    }
}

@media (max-width: 1347px) {
    #content {
        margin-right: 14px;

    }
}

@media (max-width: 1217px) {
    #slogan {
    margin-top: -10px;

    }
}