@media (max-width: 1170px) {
    .message-div {
        font-size: 24px;
    }
}

@media (max-width: 890px) {
    .message-div {
        font-size: 18px;
    }
}

@media (max-width: 1000px) {

    .movedImage {
        width: 64px !important;
    }

    .login-form {
        position: absolute;
        top: 188px;
        width: 396px;
        width: 396px;
        padding: 32px 0px;
        gap: 32px;
    }

    .typo2t1 {
        font-family: 'Inter' !important;
        font-size: 47px !important;
        font-style: normal !important;
        font-weight: 700 !important;
        line-height: 56.4px !important;
    }

    .input-container {
        width: 364px;
    }

    .login-header {
        width: auto;
        top: 748px;
        left: calc(50% - 124px);
    }

    .login-header-signup {
        padding-right: 0px;
    }

    .indexFooter {
        bottom: 22px;

    }

    .login-submit {
        flex-direction: column;
        gap: 21px;
    }

    .btn-login {
        width: 180px;
    }

    .login-guest {
        width: 180px;
    }

    .login-remember {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: flex-start;
        gap: 16px;
        padding: 0px 100px;
    }

    .login-remember-content {
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 32px;
        width: 90%;
    }
    .indexFooter{
        display: none;
    }
}

/* =======SignUpMobile========== */
@media (max-width: 1000px) {
    .login-form{
        width: 70%;
    }
    .sign-up-form {
        width: 70%;
    }

    .sign-up-form h1 {
        font-size: 3rem;
    }

    .forgot-password {
        width: 70%;
    }

    .forgot-password h1 {
        font-size: 3rem;
    }

    .new-pw {
        width: 70%;
    }

    .new-pw h1 {
        font-size: 3rem;
    }
}

@media (max-width: 600px) {
    .login-form{
        width: 90%;
    }
    .login-remember{
        padding-left: 30px;
    }
    .sign-up-form {
        width: 80%;
    }

    .sign-up-form h1 {
        font-size: 2rem;
    }

    .forgot-password {
        width: 80%;
    }

    .forgot-password h1 {
        font-size: 2rem;
        text-align: center;
    }

    .new-pw {
        width: 80%;
    }

    .new-pw h1 {
        font-size: 2rem;
    }
}

@media (max-width: 500px) {
    .sign-up-form {
        width: 90%;
        padding: 36px 30px;
    }

    .sign-up-form h1 {
        font-size: 1.5rem;
    }

    .input-container {
        width: 100%;
    }

    .forgot-password {
        width: 90%;
        padding: 36px 30px;
    }

    .forgot-password h1 {
        font-size: 1.5rem;
    }

    .new-pw {
        width: 90%;
        padding: 36px 30px;
    }

    .new-pw h1 {
        font-size: 1.5rem;
    }
}
@media (max-width: 400px) {
    .login-form {
        position: absolute;
        top: 147px;
        padding: 14px 0px;
        gap: 13px;
    }
    .login-header-signup{
        gap: 10px;
    }
    .login-header {
        width: auto;
        top: 660px;
        /* left: calc(50% - 124px); */
    }
    .input-headline{
        gap: 0px;
    }
    .typo2t1{
        font-size: 2rem!important;
    }
    .login-remember-content{
        gap: 8px;
    }
    .login-header{
        top: 590px;
    }
}
