@media (max-width: 1232px) {
        .board-title {
                font-size: 16px;
        }
}

@media (max-width: 1200px) {
        #content {
                margin: 20px 40px 0 280px;
        }

        #inputfield-div {
                width: 260px;
        }
}

@media (max-width: 1140px) {
        #inputfield-div {
                height: 24px;
        }

        #inputfield-search {
                border: none;
                width: 280px;
                height: 24px;
        }

        #board-headline {
                font-size: 48px;
        }

        #add-task-btn {
                width: 120px;
                height: 44px;
                font-size: 16px;
        }

}

@media (max-width: 1122px) {
        .board-title {
                font-size: 14px;
        }

        #inputfield-div {
                height: 24px;
        }

        #inputfield-search {
                border: none;
                width: 280px;
                height: 24px;
        }

        #border-right {
                margin-right: 8px;
        }
}

@media (max-width: 1042px) {
        #content {
                margin-left: 220px;
        }

        .plus-icon {
                width: 20px;
                height: 20px;
        }

        .board-title {
                font-size: 13.5px;
        }
}

@media (max-width: 900px) {
        #content {
                margin: 0 32px;
        }

        .d-none {
                display: block !important;
        }

        .dl-none {
                display: none !important;
        }

        #add-task-btn {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                font-size: 0;
        }

        #board-headline {
                font-size: 47px;
        }

        #board-headline-div {
                display: flex;
                justify-content: space-between;
                align-items: center;
        }

        #header {
                display: block;
                margin-bottom: 0;
                margin-bottom: 0;
                gap: 32px;
                display: flex;
                flex-direction: column;
                align-items: normal;
                margin: 32px 0;
        }

        #inputfield-search {
                width: 100%;
        }

        #inputfield-div {
                width: 100%;
                justify-content: space-between;
        }

        #main-section {
                display: block;
                justify-content: space-between;
        }

        .boards {
                width: 100%;
                margin-bottom: 16px
        }

        #inputfield-div {
                height: 32px;
        }

        .board-title {
                font-size: 27px;
                font-weight: 700;
                font-size: 27px;
                color: #2A3647;
        }
}

@media (max-height: 800px) {
        #content {
                height: 110svh;
        }
}

@media (max-height: 700px) {
        #content {
                height: 130svh;
        }
}

@media (max-height: 600px) {
        #content {
                height: 150svh;
        }
}



