@media (max-width: 1100px) {
  .big-logo {
    content: url(/join-project-management-tool/assets/img/login-site/white-join-logo.svg) !important;
  }

  .big-logo-loaded {
    position: absolute;
    top: 260px;
    left: 680px;
  }

  .dark {
    background-color: #2b3647 !important;
  }

  .new-color {
    animation: mymove 1.5s;
  }

  @keyframes mymove {
    from {
      background-color: #2b3647;
    }

    to {
      background-color: #f6f7f8;
    }
  }
}

@media (max-width: 1050px) {
  .big-logo-querry {
    transform: scale(0.3);
    position: fixed;
    top: -88px;
    left: -64px;
  }

  .big-logo {
    position: absolute;
    left: 36%;
    top: 30%;
  }
}

@media (max-width: 900px) {
  .big-logo {
    position: absolute;
    left: 36%;
    top: 30%;
  }
}

@media (max-width: 780px) {
  .message-div {
    font-size: 16px;
    padding: 20px 10px;
    left: 58%;
    top: 8%;
    width: 180px;
  }
}

@media (max-width: 700px) {
  #login-section {
    width: 426px;
    height: 520px;
  }

  #emailAddress {
    width: 80%;
    height: 36px;
  }

  #password {
    width: 80%;
    height: 36px;
  }

  #register-btns {
    display: flex;
    height: 120px;
    flex-direction: column;
    gap: 18px;
  }

  #emailAddress {
    background-image: url(/join-project-management-tool/assets/img/login-site/mail.svg);
    background-repeat: no-repeat;
    text-indent: 20px;
    background-repeat: no-repeat;
    background-position: clamp(11.25rem, 0rem + 57.14vw, 300px);
  }

  #password {
    background-image: url(/join-project-management-tool/assets/img/login-site/lock.svg);
    background-repeat: no-repeat;
    text-indent: 20px;
    background-position: clamp(11.25rem, -0.179rem + 57.14vw, 300px);
  }

  #mid-section {
    height: 74svh;
  }

  .log-in-btn {
    height: 48px;
    width: 177px;
    font-size: 21px;
  }

  .big-logo {
    position: absolute;
    left: 26%;
    top: 30%;
  }
}

@media (max-width: 480px) {
  #sign-up-section {
    display: none;
  }

  #login-section {
    width: 396px;
    height: 500px;
    padding-top: 8px;
    padding-bottom: 20px;
  }

  #emailAddress {
    width: 80%;
    height: 36px;
  }

  #password {
    width: 80%;
    height: 36px;
  }

  #mid-section {
    display: flex;
    justify-content: center;
    height: 55svh;
  }

  #responsive-sign-up {
    min-height: 16svh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-top: 16px;
  }

  #login-paragraph {
    height: 89px;
    font-size: 47px;
    font-weight: 700;
    margin: 0;
    padding-top: 16px;
  }

  #compliance-links-div {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: flex-end;
    gap: 32px;
  }

  .sign-up-btn {
    background-color: #2a3647;
    color: #ffffff;
    height: 49px;
    width: 104x;
    font-weight: 700;
    font-size: 16px;
    border-radius: 8px;
    border: none;
  }

  #big-logo {
    transform: scale(0.3);
    position: fixed;
    top: -58px;
    left: -34px;
    height: 30%;
  }

  .big-logo {
    position: absolute !important;
    left: 26% !important;
    top: 30% !important;
  }

  #remember-checkbox {
    margin: 0;
  }
}

@media (max-width: 415px) {
  #login-section {
    width: 300px;
    padding-top: 8px;
  }
}

@media (max-width: 480px) and (max-height: 850px) {
  #main-header {
    display: flex;
    height: 120px;
    min-height: 0;
  }

  #responsive-sign-up {
    min-height: auto;
    margin-bottom: 64px;
    margin-top: 16px;
  }

  #mid-section {
    height: auto;
    margin-bottom: 16px;
  }
}

@media (max-height: 800px) {
  #responsive-sign-up {
    min-height: auto;
    margin-bottom: 32px;
  }
}

@media (width: 1024px) and (height: 600px) {
  body {
    overflow: none;
  }

  #mid-section {
    height: auto;
  }

  #sign-up-section {
    padding-top: 32px;
  }

  #main-header {
    min-height: 15svh;
  }

  #login-section {
    padding-top: 16px;
    height: 400px;
  }

  #compliance-links-div {
    margin-top: 16px;
  }

  #remember-checkbox {
    margin: 0;
  }
}

@media (width: 280px) and (height: 653px) {
  #main-header {
    height: 80px;
  }

  #input-fields {
    gap: 8px;
  }

  #remember-checkbox {
    margin: 16px;
  }

  #login-section {
    height: 90%;
  }

  #mid-section {
    margin: 0;
  }

  #responsive-sign-up {
    margin-top: 16px;
  }

  #register-btns {
    margin-bottom: 16px;
  }
}

@media (width: 540px) and (height: 720px) {
  #input-fields {
    gap: 8px;
  }

  #remember-checkbox {
    margin: 16px;
  }

  #login-section {
    height: 100%;
    padding-top: 16px;
  }

  #mid-section {
    margin-bottom: 72px;
  }

  #register-btns {
    margin-bottom: 16px;
    flex-direction: row !important;
  }

  #mid-section {
    height: 56svh;
    margin-top: 32px;
  }

  #emailAddress,
  #password {
    width: 340px;
  }

  #remember-checkbox {
    margin: 0;
  }
}

@media (width: 912px) and (height: 1368px) {
  #mid-section {
    display: flex;
    justify-content: center;
    height: 50svh;
  }
}

@media (width: 360px) and (height: 740px) {
  #main-header {
    height: 100px;
  }

  #mid-section,
  #responsive-sign-up {
    margin-bottom: 16px;
  }
}

@media (width: 375px) and (height: 667px) {
  body {
    height: 100svh;
  }

  #main-header {
    height: 105px;
  }

  #responsive-sign-up {
    margin-bottom: 32px;
  }

  #compliance-links-div {
    height: 56px;
    align-items: flex-start;
  }
}

@media (max-width: 414px) and (max-height: 896px) {
  #emailAddress {
    background-image: url(/join-project-management-tool/assets/img/login-site/mail.svg);
    background-repeat: no-repeat;
    text-indent: 20px;
    background-repeat: no-repeat;
    background-position: clamp(11.25rem, -0.179rem + 57.14vw, 200px);
  }

  #password {
    background-image: url(/join-project-management-tool/assets/img/login-site/lock.svg);
    background-repeat: no-repeat;
    text-indent: 20px;
    background-position: clamp(11.25rem, -0.179rem + 57.14vw, 200px);
  }
}
