@media (max-width: 1370px) {
        #greeting {
                font-size: 28px;
        }

        #surename-name {
                font-size: 36px;
        }
}

@media (max-width: 1210px) {
        #greeting-div {
                display: none;
        }
}

@media (max-width: 980px) {
        #heading {
                display: inline;
        }

        #blue-left-border {
                height: 16px;
                border-left: none;
                border-bottom: 3px solid #29ABE2;
                ;
                width: 27%;
        }

        #topic-paragraph {
                display: flex;
                flex-direction: column-reverse;
        }

        #content {
                margin-top: 40px;
        }
}

@media (max-width: 900px) {
        #content {
                margin: 40px 16px 0 40px;
        }

        #board-top {
                margin-top: 32px;
        }
}

@media (max-width: 450px) {
        .cards-top {
                height: 128px;
                width: 186px;
        }

        #card-middle {
                height: 128px;
                width: 396px;
        }

        .number-to-do {
                font-size: 47px;
        }

        .cards-icons {
                width: 40px;
                height: 40px;
        }

        .to-do-paragraph {
                font-size: 14px;
        }

        .cards-bottom {
                height: 116px;
        }

        #content {
                margin: 40px 16px 0 16px;
        }
}

@media (max-width: 390px) {
        #date {
                font-size: 17px;
        }
}

/* height */
@media (max-height: 880px) {
        #content {
                margin-top: 24px;
        }

        .cards-top {
                height: 128px;
        }

        #card-middle {
                height: 128px;
        }

        .cards-bottom {
                height: 128px;
        }
}

@media (max-height: 800px) {
        #content {
                margin-top: 20px;
        }

        .cards-top {
                height: 88px;
        }

        .cards-icons {
                height: 40px;
        }

        #card-middle {
                height: 102px;
        }

        #border-grey {
                height: 66%;
        }

        .cards-bottom {
                height: 108px;
        }

        .number-to-do {
                font-size: 47px;
        }

        .to-do-paragraph {
                font-size: 14px;
        }

}

@media (max-height: 730px) {
        h1 {
                font-size: 48px;
        }

        .paragraph {
                font-size: 20px;
        }

        #board-top,
        #board-middle,
        #board-bottom {
                margin-top: 16px;
        }
}

/* iphone 5/SE  */

@media (height: 568px),
(width: 320px) {
        h1 {
                font-size: 24px;
        }

        .paragraph {
                font-size: 12px;
        }

        .cards-top {
                height: 68px;
        }

        .cards-icons {
                height: 28px;
        }

        .number-to-do {
                font-size: 28px;
        }

        .to-do-paragraph {
                font-size: 11px;
        }
        #date {
                font-size: 14px;
        }

        #deadline {
                font-size: 12px;
        }

        #card-middle {
                height: 80px;
        }

        .cards-bottom {
                height: 80px;
        }
}