@media (max-width: 1232px) {
        .board-title {
                font-size: 16px;
        }
}

@media (max-width: 1200px) {
        #inputfield-div {
                width: 260px;
        }
}

@media (max-width: 1140px) {
        #inputfield-div {
                width: 220px;
                height: 24px;
        }

        #inputfield-search {
                border: none;
                width: 280px;
                height: 24px;
        }

        #board-headline {
                font-size: 48px;
        }

        #add-task-btn {
                width: 120px;
                height: 44px;
                font-size: 16px;
        }
}