@media (max-width: 900px) {
        #headline {
                display: none;
        }

        #top-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                box-shadow: 0px 4px 4px 0px #0000001A;
                padding: 20px 40px 20px 20px;
        }

        #little-logo {
                display: flex;
        }

        #menu {
                flex-direction: row;
                padding: 0;
        }

        #join-logo {
                margin-bottom: 128px;
                display: none;
        }

        #compliance-links {
                display: none;
        }

        #icons {
                display: flex;
                margin: 0;
                height: 80px;
                width: 100%;
                justify-content: space-evenly;
                flex-direction: row;
        }

        #board-icon {
                position: static;
        }

        #left-side {
                width: 100vw;
                height: 80px;
                bottom: 0;
                position: fixed;
        }

        .menu-points {
                display: flex;
                flex-direction: column;
        }

        .menu-points:hover {
                border-radius: 16px;
        }

        .board-p {
                margin: 0;
        }

        p {
                margin: 0;
                font-family: 'Inter', sans-serif;
                font-size: 14px;
                font-weight: 400;
                color: #ffffff;
        }
}

@media (max-width: 400px) {
        .menu-points {
                padding: 16px 8px 16px 16px;
        }

        .menu-icons {
                width: 22px;
                height: 22px;
        }
}

@media (max-width: 400px) {
        p {
                font-size: 12px;
        }
}

@media (max-height: 900px) {
        #icons {
                margin-bottom: 200px;
        }
}

@media (max-height: 850px) {
        #icons {
                margin-bottom: 80px;
        }
}

@media (max-height: 750px) {

        #join-logo {
                margin-bottom: 80px;
        }
}

@media (max-height: 730px) {
        .menu-icons {
                width: 22px;
                height: 22px;
        }
}