@media (max-width: 900px) {
        #top-side-bar {
                padding-left: 32px;
        }
}

@media (min-width: 800px) {
        .responsive-div {
                display: none;
        }
}

@media (max-width: 800px) {

        #join-logo,
        #compliance-links {
                display: none;
        }

        #content {
                display: flex;
                flex-direction: column-reverse;
                overflow: hidden;
                box-shadow: 0px 4px 4px 0px #0000001A;
        }

        #right-side-top-bar {
                padding-right: 64px;
        }

        #question-mark {
                display: none;
        }

        #title {
                display: none;
        }

        .responsive-div {
                display: flex;
                align-items: center;
        }

        .profile-circle {
                height: 40px;
                width: 40px;
        }

        #left-side-bar {
                width: 100vw;
                height: 80px;
                background-color: rgb(42, 54, 71);
                position: fixed;
                bottom: 0;
                z-index: 990;
        }

        .menu-links-div {
                display: flex;
                justify-content: space-around;
        }

        .menu-points {
                margin-top: 0;
                display: flex;
                flex-direction: column;
                padding: 8px;
                gap: 8px !important;
        }

        .menu-points:hover {
                background-color: rgb(29, 39, 52);
                border-radius: 8px;
        }

        #menu-links {
                height: 0;
        }

        .board-icon {
                position: relative;
                left: 0;
        }

        .paragraph-board {
                margin: 0;
        }
}

@media (max-width: 820px) {
        #compliance-links {
                padding-bottom: 0;
        }
        
}

@media (max-height: 850px) {
        #menu-links {
                height: 70svh;
        }
        
}

@media (max-height: 750px) {
        #menu-links {
                height: 65svh;
        }
        
}