* {
        margin: 0;
        font-family: 'inter', sans-serif;
}

#content {
        margin: 80px 32px 0 340px;
}

h1 {
        font-size: 61px;
        font-weight: 700;
        margin-bottom: 64px;
}

.title {
        display: flex;
        gap: 4px;
    }

.red-star {
        color: red;
}

.input-fields {
        width: 400px;
        height: 32px;
        border: 1px solid #D1D1D1;        
        border-radius: 10px;
        margin-top: 8px;
        margin-bottom: 24px;
        padding: 8px;
        padding-left: 16px;
        font-weight: 700;
        font-size: 20px;
}

.input-fields::placeholder {
        color: #D1D1D1;
        font-size: 16px;
        font-weight: 300;
        font-size: 20px;
}

textarea {
        width: 400px;
        height: 120px;
        border: 1px solid #D1D1D1;       
        margin-top: 8px;
        margin-bottom: 24px;
        border-radius: 10px;
        padding: 16px 0 0 16px;
        font-size: 20px;
}

textarea::placeholder {
        color: #D1D1D1;
        font-size: 16px;
        font-weight: 300;
        font-size: 20px;
}