body {
        margin: 0;
        font-family: 'Inter', sans-serif;
}

#content {
        margin: 80px 32px 0 340px;
}

h1 {
        margin: 0;
        font-weight: 700;
        font-size: 61px;
}

.paragraph {
        margin: 0;
        font-size: 27px;
        font-weight: 400;
        color: #2A3647;
}

#heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 625px;
}


#blue-left-border {
        height: 59px;
        border-left: 3px solid #29ABE2;
        border-radius: 3px;
}