body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #f6f7f8;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

#header-right-side {
  display: flex;
  gap: 32px;
}

#content {
  margin: 64px 112px 0 324px;
  padding: 32px;
  background-color: #f6f7f8;
  height: 2000px;
}

#board-headline {
  font-size: 61px;
  font-weight: 700;
}

#inputfield-div {
  border: 1px solid #a8a8a8;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  padding: 8px 16px 8px 16px;
  height: 32px;
  width: 320px;
  align-items: center;
}

#inputfield-search {
  border: none;
  width: 280px;
  height: 32px;
  background: none;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

#inputfield-search:focus {
  outline: 1px solid black;
  border-radius: 10px;
}

#inputfield-search::placeholder {
  font-weight: 400;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d1d1d1;
}

#border-right {
  border-right: 1px solid;
  height: 31px;
  width: 1px;
  border-color: #d1d1d1;
}

#search-icon-div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  align-items: center;
  width: 50px;
}

#search {
  cursor: pointer;
}

#add-task-btn {
  background-color: #2a3647;
  color: white;
  width: 160px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 21px;
  font-weight: 700;
}

#add-task-btn:hover {
  background-color: #29abe2;
  border: none;
}

#main-section {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.boards {
  width: 24%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header-boards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.plus-icon {
  cursor: pointer;
}

.board-title {
  font-size: 20px;
  font-weight: 700;
  color: #42526e;
  cursor: default;
}

.no-task-div {
  z-index: 0;
  height: 144px;
  font-weight: 400;
  font-size: 16px;
  background-color: #e7e7e7;
  color: #a8a8a8;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 10px;
  cursor: default;
  border-style: dashed;
}

.d-none {
  display: none !important;
}

.hidden {
  display: none;
}

.active {
  display: block;
}

#addTaskPopup {
  background-color: rgb(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}

.popUp {
  cursor: pointer;
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#content-popUp {
  background-color: #f6f7f8;
  display: flex;
  border-radius: 20px;
}

h1 {
  font-size: 61px;
  font-weight: 700;
  margin-left: 180px;
  text-align: center;
  margin-top: 40px;
}

.title,
.date,
#required-div {
  display: flex;
  gap: 4px;
  font-size: 20px;
}

.red-star {
  color: red;
}

.input-fields {
  width: 440px;
  height: 32px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  margin-top: 8px;
  margin-bottom: 24px;
  padding: 8px;
  padding-left: 16px;
  font-weight: 700;
  font-size: 20px;
}

.input-fields::placeholder {
  color: #d1d1d1;
  font-size: 16px;
  font-weight: 300;
  font-size: 20px;
}

textarea {
  width: 440px;
  height: 120px;
  border: 1px solid #d1d1d1;
  margin-top: 8px;
  margin-bottom: 24px;
  border-radius: 10px;
  padding: 16px 0 0 16px;
  font-size: 20px;
}

textarea::placeholder {
  color: #d1d1d1;
  font-size: 16px;
  font-weight: 300;
  font-size: 20px;
}

.d-none {
  display: none;
}

#contacts-dropdown {
  margin-bottom: 24px;
}

#contacts-dropdown::placeholder {
  color: black;
  font-weight: 400;
}

#border {
  color: #d1d1d1;
  border: 1px solid #d1d1d1;
  height: 424px;
}

#date {
  width: 440px;
  height: 32px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  margin-top: 8px;
  margin-bottom: 24px;
  padding: 8px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
}

#date::placeholder {
  color: #d1d1d1;
  font-size: 16px;
  font-weight: 300;
  font-size: 20px;
  cursor: pointer;
}

#urgent,
#medium,
#low {
  height: 56px;
  width: 33%;
  cursor: pointer;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
}

#urgent:hover,
#medium:hover,
#low:hover {
  box-shadow: 2px 4px 4px 2px #0000001a;
}

#prioritize {
  display: flex;
  gap: 8px;
  margin: 8px 0 24px 0;
}

#tasks-dropdown::placeholder {
  color: black;
  font-weight: 400;
}

#clear-btn,
#create-btn {
  cursor: pointer;
  border-radius: 10px;
}

.prio-button {
  background-color: #ffffff;
}

#clear-btn {
  height: 56px;
  width: 110px;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid black;
  background-color: #ffffff;
}

#clear-btn:hover {
  color: #29abe2;
  border: 1px solid #29abe2;
}

#create-btn {
  width: 183px;
  height: 56px;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #2a3647;
  border: none;
}

#create-btn:hover {
  background-color: #29abe2;
}

#create-delete-div {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

#addSubtask {
  cursor: pointer;
  background: url(/join-project-management-tool/assets/img/add_task/add.svg)
    no-repeat scroll 7px 7px;
  background-position: clamp(11.25rem, -0.179rem + 57.14vw, 380px);
}

.right-side {
  padding: 32px;
}

.message-div {
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  background-color: var(--background-dark);
  color: var(--background-white);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #2a3647;
  color: white;
  opacity: 0.8;
  border-radius: 8px;
  width: 620px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  padding: 0;
  opacity: 0;
}

.task-div {
  height: 100%;
  width: 100%;
  margin-bottom: 16px;
  background-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.task-div:hover {
  transform: rotate(2deg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#subtask-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 188px;
}

.left-side {
  padding: 32px;
}
