* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

#content {
    margin: 40px 160px 0 340px;
    display: flex;
    align-items: flex-start;
    padding-bottom: 64px;
}

#headingHelp {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

#left-arrow {
    margin-top: 24px;
    cursor: pointer;
}

.section-headings {
    font-weight: 700;
    font-size: 27px;
    margin-bottom: 16px;
}

.margin-bottom {
    margin-bottom: 24px;
}

.step-by-step-heading {
    font-weight: bold;
}
