* {
        margin: 0;
        font-family: 'Inter', sans-serif;
}

#content {
        margin: 40px 160px 0 340px;
        display: flex;
        align-items: flex-start;
}

#left-arrow {
        margin-top: 24px;
        cursor: pointer;
}

#heading-legal-notice {
        font-weight: 700;
        font-size: 61px;
        margin-bottom: 48px;
}

.section-headings {
        font-weight: 700;
        font-size: 27px;
        margin-bottom: 24px;
}

.margin-bottom {
        margin-bottom: 24px;
}