* {
        margin: 0;
        font-family: 'Inter', sans-serif;
}

#content {
        margin: 40px 160px 0 340px;
        display: flex;
        align-items: flex-start;
}

#left-arrow {
        margin: 24px 12px 0 0;
        cursor: pointer;
}

#privacy-policy-heading {
        font-weight: 700;
        font-size: 61px;
        margin-bottom: 40px;
}


p {
        color: black;
        margin-bottom: 16px;
}

ul {
        margin-bottom: 16px;
}

.bigger-headings {
        color: black;
        font-size: 30px;
        margin-bottom: 24px;
}

#table-contents {
        margin: 24px 0;
}

li {
        cursor: pointer;
}

a {
        text-decoration: none;
        padding: 0;
        color: black;
}

.question-parts {
        margin-bottom: 24px;
}

.number-dots {
        color: black !important;
}

h3 {
        margin: 24px 0;
        cursor: pointer;
}

.information-section {
        margin-bottom: 24px;
}