body {
  font-family: "Inter", sans-serif !important;
  background-color: #f6f7f8;
  color: #000000;
  margin: 0;
}

input[type="email"]:focus {
  outline: 1px solid #29abe2;
}

input[type="password"]:focus {
  outline: 1px solid #29abe2;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

#content {
  height: 100svh;
}

#main-header {
  display: flex;
  justify-content: flex-end;
  min-height: 20svh;
}

#sign-up-section {
  display: flex;
  gap: 35px;
  align-items: baseline;
  padding: 64px 96px 0 0;
}

#mid-section {
  display: flex;
  justify-content: center;
}

#login-section {
  background-color: #ffffff;
  width: 652px;
  height: 463px;
  border-radius: 30px;
  padding-top: 44px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
  margin-bottom: 3%;
}

#login-paragraph {
  height: 89px;
  font-size: 61px;
  font-weight: 700;
  margin: 0;
}

#input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

#login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#blue-line {
  border: 1.5px solid #29abe2;
  width: 150px;
  margin-bottom: 28px;
}

#emailAddress {
  background-image: url(/join-project-management-tool/assets/img/login-site/mail.svg);
  background-repeat: no-repeat;
  text-indent: 20px;
  background-repeat: no-repeat;
  background-position: clamp(11.25rem, -0.179rem + 57.14vw, 380px);
}

#password {
  background-image: url(/join-project-management-tool/assets/img/login-site/lock.svg);
  background-repeat: no-repeat;
  text-indent: 20px;
  background-position: clamp(11.25rem, -0.179rem + 57.14vw, 380px);
}

#register-btns {
  height: 48px;
  gap: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#remember-checkbox {
  display: flex;
  gap: 4px;
}

#emailAddress:fokus {
  background-image: none;
}

#guest-login-btn {
  border-radius: 8px;
  height: 48px;
  width: 177px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: (41, 54, 71);
  font-weight: 700;
  border: 1px solid rgb(41, 54, 71);
}

#guest-login-btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(41, 171, 226);
  border: 1px solid rgb(41, 171, 226);
}

#compliance-links-div {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: flex-end;
  gap: 16px;
}

.opacity-one {
  opacity: 1;
  transition: opacity 2s ease-in 0s;
}

.opacity-zero {
  opacity: 0;
}

.big-logo {
  position: absolute;
  left: 43%;
  top: 30%;
}

.big-logo-loaded {
  position: absolute;
  top: 260px;
  left: 680px;
}

.transition {
  transform: translate(-260%, -90%) scale(0.5);
  transition: all 1s ease-out 0s;
}

.cursor-pointer {
  cursor: pointer;
}

.login-fields {
  width: 422px;
  height: 48px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
}

.login-fields::placeholder {
  color: #d1d1d1;
  font-weight: 400;
  font-size: 16px;
}

.paragraphs {
  color: #000000;
  font-weight: 400;
  size: 20px;
  margin: 0;
}

.d-none {
  display: none;
}

.sign-up-btn {
  background-color: #2a3647;
  color: #ffffff;
  height: 49px;
  width: 91px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 8px;
  border: none;
}

.sign-up-btn:hover {
  background-color: #29abe2;
  cursor: pointer;
}

.log-in-btn {
  background-color: #2a3647;
  color: #ffffff;
  height: 48px;
  width: 110px;
  font-weight: 700;
  font-size: 21px;
  border-radius: 8px;
  border: none;
}

.log-in-btn:hover {
  background-color: #29abe2;
  cursor: pointer;
}

.compliance-links {
  text-decoration: none;
  color: #a8a8a8;
  font-weight: 400;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 10px;
}

.message-div {
  font-size: 32px;
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-dark);
  color: var(--background-white);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #2a3647;
  color: white;
  opacity: 0.8;
  border-radius: 8px;
  width: 620px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  padding: 0;
}
